
.Slider-part{
    margin-top: 20px;
    padding-top: 20px;
}
.goBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.goBtnContent{
    padding: 8px 40px;
    background-color: blueviolet; 
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
}